*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Header layout */

header{
    background-color: white;
    width: 100%;
    min-width: 1250px;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.col-nav{
    margin: 0 15px;
}

/* Header Items */

.col-nav ol li{
    vertical-align: middle;
    padding: 0 15px;
}

.col-nav ol li a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.col-nav ol li button{
    font-size: 1rem;
    margin-left: 15px;
    padding: 5px 10px;
    border: none;
}
                /* Main */
/*layout - Jumbo*/

.row-jumbo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-jumbo-texts{
    width: 30%;
}
.col-jumbo-img{
    width: 70%;
}

/* Items - Jumbo */

.col-jumbo-title h1{
    font-weight: 800;
    text-align: left;
    font-size: 5rem;
    padding: 50px 0;
}

.content-jumbo button{
    padding: 10px;
    margin: 30px 0;
    border: none;
}

.arrow-down{
    position: absolute;
    bottom: 90px;
    left: 0;
    font-size: 4rem;
}

.cont-jumbo-img{
    width: auto;
}

/* Business Plan */

.row-plan{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.col-plan{
    width: calc(100% / 3 - 20px);
}

/* Items Business Plan */

.content-plan{
    padding-bottom: 40px;
}

.content-plan h2{
    font-size: 3rem;
    padding-bottom: 40px;
}

.content-plan span{
    padding-right: 40px;
}

/* Card title */

.content-col-plan .card-title{
    padding: 10px;
    border-bottom: 1px solid gray;
}

.content-col-plan .text-col-plan{
    padding: 30px ;
}

/* Card h3 and price */

.text-col-plan h3{
    font-size: 2rem;
    padding-bottom: 10px;
}

.text-col-plan .price-card{
    padding-bottom: 25px;
    line-height: 30px;
}

/* list */
.list-col-plan ol li{
    display: flex;
    padding: 10px 0;
    font-size: large;

    vertical-align: middle;
}

.list-col-plan ol li i{
    padding-top: 2px;
    padding-right: 5px;
}

.text-col-plan button{
    padding: 10px 67px;
    margin: 35px 0;
}

/* down list */

.text-col-plan .down-list{
    padding-top: 75px;
}

.down-list li span{
    line-height: 75px;
    font-weight: bolder;
}
.down-list li ul{
    padding-left: 15px;
}

.down-list li ul li{
    display: flex;
    padding: 10px 0;
}

.down-list li ul li::before{
    padding-right: 5px;
    font-weight: 900;
    content: "\2713";
    color: rgb(40,97,255);
}

/* Box Team */

.text-box-plan{
    padding: 30px;
}

.text-box-plan h3{
    font-size: 2rem;
    padding-bottom: 25px;
}

.info-box{
    width: 70%;
    margin-top: 60px;
}

.contact-button{
    font-size: 1rem;
    padding: 15px 35px;
    position: absolute;
    top: 30px;
    right: 30px;
}

/* Contact Dropbox */

.row-contact{
    margin: 160px 0;
    width: 100%;
    display: flex;
}

.col-contact{
    width: 50%;
}

.cont-contact{
    padding: 50px;
}

/* Items Contact Dropbox */

.cont-contact p{
    padding: 30px 0;
    font-size: large;
}

.cont-contact button{
    font-size: larger;
    padding: 10px;
}

/* Info Dropbox Business */

.row-business{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
}

.col-business{
    width: calc(100% / 3 - 27px);
}

/* Items - Info Dropbox Business */
.title-business{
    font-size: 3em;
}

.text-business h3{
    font-size: x-large;
    padding-bottom: 25px;
}

.footer-business{
    margin: 130px 0;
}

.footer-business h1{
    font-size: 3rem;
    width: 70%;
    padding-bottom: 60px;
}

/* Dropbox Partner */

.row-partner{
    width: 100%;
    height: 100%;
    display: flex;
}

.col-partner{
    width: calc(100% / 3);
}

.container-partner{
    display: flex;
    flex-wrap: wrap;
}

/* Items - Dropbox Partner */

.square{
    width: 50%;
    height: calc(100vw / 6 - 3px);
}

.mini-square{
    height: 90%;
    width: 90%;
}

/* Free Trial */
.cont-free-trial{
    display: flex;
    justify-content: space-between;
}

.cont-free-trial div{
    padding: 100px 0;
}

/* Items Free Trial */

.text-free-trial h1{
    font-size: 3rem;
}

.button-free-trial{
    margin-top: 15px;
}

.button-free-trial button{
    font-size: large;
    padding: 10px 50px;
}

/* Questions */

.title-questions{
    padding: 50px 0;
}

.text-questions{
    padding: 50px 0;
}

/* Items Questions */

.title-questions h1{
    font-size: 3rem;
}

.text-questions span{
    font-weight: 900;
}

.text-questions i{
    padding-left: 480px;
}

/* Footer */



            /* Reusable Class */

/* Container */
.cont-vw{
    width: calc(100vw - (100vw - 100%));
    min-width: 1250px;
}
.cont-1300{
    max-width: 1300px;;
    min-width: 1250px;
    margin: 0 auto;
}

.cont-1100{
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.reset-list{
    list-style: none;
}

.or-list li{
    display: inline;
}

.reset-button{
    border: none;
}

.relative{
    position: relative;
}

.absolute-cent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.square img{
    filter: invert(100%);
}

/* style items */
.w-100{
    width: 100%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-70{
    margin-top: 70px;
}

.margin-t-b-70{
    margin: 70px auto;
}

.padding-70{
    padding: 70px;
}

.padding-50{
    padding: 50px
}

.padding-bott-40{
    padding-bottom: 40px
}

.padding-40{
    padding: 40px;
}

.centered-text{
    text-align: center;
}

.font-bolder{
    font-weight: bolder;
}

.font-medium{
    font-size: medium;
}

.border-1{
    border: 1px solid gray;
}

/* bg and text color */
.text-white{
    color: white;
}

.text-gray{
    color: gray;
}

.text-purple{
    color: rgba(97,8,43,255);
}

.bg-blue{
    background-color: rgb(40,97,255);
}

.bg-azure{
    background-color: lightskyblue;
}

.bg-green{
    background-color: rgba(162,211,155,255);
}

.bg-lightgreen{
    background-color: rgba(209,233,205,255);
}

.bg-purple{
    background-color: rgba(97,8,43,255);
}

.bg-red{
    background-color: rgb(229,17,29);
}

.bg-yellow{
    background-color: rgba(255,216,48,255);
}

.bg-lightazure{
    background-color: rgba(180,208,231,255);
}

.bg-darkblue{
    background-color: rgba(13,36,129,255);
}